@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,400&display=swap');


:root 
{
    --darkest: #474747;
    --contrast: #DCB21B;
    --reverse: #ffffff;
    --yellow: #FFE814;;
    --purple: #520D73;
}

* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body 
{
    background-color: var(--darkest);
    display: flex;
    font-size: 1rem;
}

nav 
{
    width: 15em;
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    background:#201F1F;
}

nav .logo 
{
    width: 100%;
    height: 15%;
    background: #520D73;
    padding: 15px;
}

nav h1 
{
    font-size: 2.8em;
    text-align: center;
    color: white;
}

nav h1::first-letter 
{
    color: #FFE814;
}

nav li 
{
    list-style-type: none;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

nav li a 
{
    width: 100%;
    height: 20%;
    background: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 300;
}

form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input 
{
    border: none;
    margin: 20px 0;
    padding: 3px;
    width: 80%;
}

form button 
{
    padding: 2px;
    width: 70%;
    margin-top: 20px;
}

.content-container 
{
    width: 90%;
    padding: 60px 100px;
}


.poster 
{
    width: 20em;
    height: 30em;
    margin-top: 20px;
    border-radius: 5px;
    background: #520D73;
    box-shadow: 2px 5px 10px rgb(114, 102, 102);
    cursor: pointer;
    margin: 20px;

}

.poster  img 
{
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.poster  h2 
{
    text-align: center;
    padding: 20px;
    color: white;

}

.movies-container 
{
    padding-top: 100px;
}

.sub-heading 
{
    font-size: 1.2em;
    color: var(--reverse);
    font-weight: bold;
    letter-spacing: 3px;
}

.movies-grid 
{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin-top: 20px;
}


#upload-form 
{
    margin-top: 90px;
}

@media(max-width: 1400px) 
{
    body 
    {
        font-size: 0.8rem;
    }

    .content-container 
    {
        padding: 20px 50px;
    }
}

@media(max-width: 1200px) 
{
    body 
    {
        font-size: 0.6rem;
    }

    .movies-grid 
    {
        flex-direction: column;
        align-items: flex-start;
    }
}